<a href="/repair-and-construction"
   class="qa-category-parent-item b-categories-item h-flex-center"
   data-index="15">
    <div class="b-categories-item__image h-flex-center">
        <div class="b-static-image" style="height:32px;width:32px;">
            <img style="display:none;" class="icon" height="32px" width="32px"
                 src="https://assets.jijistatic.net/art/attributes/categories/repair-x3.png"
                 alt="Repair &amp; Construction">
        </div>
    </div>
    <div class="b-categories-item__text h-flex-1-0">
        <span class="b-categories-item__text-name qa-category-parent-name">{{item.name}}</span>
        <span class="b-categories-item__text-count">{{item.id}}</span>
    </div>
    <div class="b-categories-item__arrow h-flex-center">
        <span></span>
    </div>
</a>
