<div class="b-content-wrapper" style="background-color:;">
    <!--[-->
    <!--[-->
    <div class="b-create-ad-page">
        <div style="transition-delay:0s;" class="">
            <div class="spinner-absolute h-pt-40 b-bouncing-loader" style="bottom:auto;">
                <!--[-->
                <div style=""></div>
                <div style=""></div>
                <div style=""></div>
                <!--]-->
            </div>
        </div>
        <div class="b-create-ad-page__create-ad-card-wrapper">
            <!---->
        </div>
    </div>
    <!--]-->
    <!--]-->
    <!---->
    <!---->
</div>
