<div class="b-app-footer" style="">
    <div class="b-app-footer__image">
        <div class="b-static-image h-mb--5" style="height:100;width:100;">
            <img style="display:none;" class="icon" height="100" width="100"
                 src="https://assets.jijistatic.net/static/img/footer-nigeria-new.svg" alt="Nigeria">
        </div>
    </div>
    <div class="b-app-footer__inner">
        <div class="container">
            <div class="b-app-footer__group-wrapper">
                <!---->
                <!--[-->
                <div class="b-app-footer__group">
                    <div class="b-app-footer__group-title">About us</div>
                    <div class="b-footer-group-links">
                        <!--[-->
                        <div class="b-footer-group-links__item">
                            <a href="/about.html" class="b-app-footer__group-link" rel="nofollow" aria-label>
                                <!--[-->
                                <!--[-->
                                About Jiji
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="/hiring.html" class="b-app-footer__group-link" rel="nofollow" aria-label>
                                <!--[-->
                                <!--[-->
                                We are hiring!
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="/rules.html" aria-label rel="nofollow" class="b-app-footer__group-link">
                                <!--[-->
                                <!--[-->
                                Terms &amp;Conditions
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="/privacy.html" aria-label rel="nofollow" class="b-app-footer__group-link">
                                <!--[-->
                                <!--[-->
                                Privacy Policy
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="/billing-policy.html" aria-label rel="nofollow" class="b-app-footer__group-link">
                                <!--[-->
                                <!--[-->
                                Billing Policy
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="/jiji-pages/candidate-privacy-policy" aria-label rel="nofollow"
                               class="b-app-footer__group-link">
                                <!--[-->
                                <!--[-->
                                Candidate Privacy Policy
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="/jiji-pages/cookie-policy" aria-label rel="nofollow" class="b-app-footer__group-link">
                                <!--[-->
                                <!--[-->
                                Cookie Policy
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="/jiji-pages/copyright-infringement-policy" aria-label rel="nofollow"
                               class="b-app-footer__group-link">
                                <!--[-->
                                <!--[-->
                                Copyright Infringement Policy
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <!--]-->
                    </div>
                </div>
                <div class="b-app-footer__group">
                    <div class="b-app-footer__group-title">Support</div>
                    <div class="b-footer-group-links">
                        <!--[-->
                        <div class="b-footer-group-links__item">
                            <a aria-label rel="nofollow" class="b-app-footer__group-link">
                                <!--[-->
                                <!--[-->

                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="/safety-tips.html" class="b-app-footer__group-link" rel="nofollow" aria-label>
                                <!--[-->
                                <!--[-->
                                Safety tips
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="/contacts.html" aria-label rel="nofollow" class="b-app-footer__group-link">
                                <!--[-->
                                <!--[-->
                                Contact Us
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="/faq" class="b-app-footer__group-link" rel="nofollow" aria-label>
                                <!--[-->
                                <!--[-->
                                FAQ
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <!--]-->
                    </div>
                </div>
                <div class="b-app-footer__group">
                    <div class="b-app-footer__group-title">Our apps</div>
                    <div class="b-footer-group-links">
                        <!--[-->
                        <div class="b-footer-group-links__item">
                            <a href="https://itunes.apple.com/us/app/jiji.ng/id966165025"
                               aria-label="Available on the App Store" rel="nofollow" class="b-app-footer__group-link">
                                <!--[-->
                                <img class="h-max-width-100p"
                                     src="https://assets.jijistatic.net/static/img/single-images/app-store.svg"
                                     alt="Available on the App Store">
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="https://play.google.com/store/apps/details?id=ng.jiji.app"
                               aria-label="Get it on Google Play" rel="nofollow" class="b-app-footer__group-link">
                                <!--[-->
                                <img class="h-max-width-100p"
                                     src="https://assets.jijistatic.net/static/img/single-images/google-play.svg"
                                     alt="Get it on Google Play">
                                <!--]-->
                            </a>
                        </div>
                        <!--]-->
                    </div>
                </div>
                <div class="b-app-footer__group">
                    <div class="b-app-footer__group-title">Our resources</div>
                    <div class="b-footer-group-links">
                        <!--[-->
                        <div class="b-footer-group-links__item">
                            <a href="https://jiji-blog.com" aria-label rel="nofollow" class="b-app-footer__group-link">
                                <!--[-->
                                <!--[-->
                                Our blog
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="https://www.facebook.com/Jiji.Nigeria" aria-label rel="nofollow"
                               class="b-app-footer__group-link">
                                <!--[-->
                                <!--[-->
                                Jiji on FB
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="https://www.instagram.com/jijinigeria/" aria-label rel="nofollow"
                               class="b-app-footer__group-link">
                                <!--[-->
                                <!--[-->
                                Our Instagram
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="https://www.youtube.com/channel/UCvAyphNspDQMFnp7g57jH-g" aria-label rel="nofollow"
                               class="b-app-footer__group-link">
                                <!--[-->
                                <!--[-->
                                Our YouTube
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <div class="b-footer-group-links__item">
                            <a href="https://twitter.com/jijinigeria" aria-label rel="nofollow"
                               class="b-app-footer__group-link">
                                <!--[-->
                                <!--[-->
                                Our Twitter
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <!--]-->
                    </div>
                </div>
                <div class="b-app-footer__group">
                    <div class="b-app-footer__group-title">Hot links</div>
                    <div class="b-footer-group-links">
                        <!--[-->
                        <div class="b-footer-group-links__item">
                            <a href="https://jiji.africa" aria-label rel="nofollow" class="b-app-footer__group-link">
                                <!--[-->
                                <!--[-->
                                Jiji Africa
                                <!--]-->
                                <!--]-->
                            </a>
                        </div>
                        <!--]-->
                    </div>
                </div>
                <!--]-->
            </div>
            <div class="b-app-footer__group-countries">
                <!--[-->
                <a href="https://jiji.co.ke" rel="nofollow" class="b-app-footer__group-countries__item">
                    <div class="b-static-image" style="height:32;width:32;">
                        <img style="display:none;" class="icon" height="32" width="32"
                             src="https://assets.jijistatic.net/static/img/footer-anchors/kenya.svg" alt="Kenya">
                    </div>
                </a>
                <a href="https://jiji.ug" rel="nofollow" class="b-app-footer__group-countries__item">
                    <div class="b-static-image" style="height:32;width:32;">
                        <img style="display:none;" class="icon" height="32" width="32"
                             src="https://assets.jijistatic.net/static/img/footer-anchors/uganda.svg" alt="Uganda">
                    </div>
                </a>
                <a href="https://jiji.co.tz" rel="nofollow" class="b-app-footer__group-countries__item">
                    <div class="b-static-image" style="height:32;width:32;">
                        <img style="display:none;" class="icon" height="32" width="32"
                             src="https://assets.jijistatic.net/static/img/footer-anchors/tanzania.svg" alt="Tanzania">
                    </div>
                </a>
                <a href="https://jiji.com.gh" rel="nofollow" class="b-app-footer__group-countries__item">
                    <div class="b-static-image" style="height:32;width:32;">
                        <img style="display:none;" class="icon" height="32" width="32"
                             src="https://assets.jijistatic.net/static/img/footer-anchors/ghana.svg" alt="Ghana">
                    </div>
                </a>
                <a href="https://jiji.com.et" rel="nofollow" class="b-app-footer__group-countries__item">
                    <div class="b-static-image" style="height:32;width:32;">
                        <img style="display:none;" class="icon" height="32" width="32"
                             src="https://assets.jijistatic.net/static/img/footer-anchors/ethiopia.svg" alt="Ethiopia">
                    </div>
                </a>
                <a href="https://jiji.sn" rel="nofollow" class="b-app-footer__group-countries__item">
                    <div class="b-static-image" style="height:32;width:32;">
                        <img style="display:none;" class="icon" height="32" width="32"
                             src="https://assets.jijistatic.net/static/img/footer-anchors/senegal.svg" alt="Senegal">
                    </div>
                </a>
                <a href="https://jiji.co.ci" rel="nofollow" class="b-app-footer__group-countries__item">
                    <div class="b-static-image" style="height:32;width:32;">
                        <img style="display:none;" class="icon" height="32" width="32"
                             src="https://assets.jijistatic.net/static/img/footer-anchors/civ.svg" alt="Côte d’Ivoire">
                    </div>
                </a>
                <a href="https://jiji-bd.com" rel="nofollow" class="b-app-footer__group-countries__item">
                    <div class="b-static-image" style="height:32;width:32;">
                        <img style="display:none;" class="icon" height="32" width="32"
                             src="https://assets.jijistatic.net/static/img/footer-anchors/bangladesh.svg"
                             alt="Bangladesh">
                    </div>
                </a>
                <a href="https://jiji.lk" rel="nofollow" class="b-app-footer__group-countries__item">
                    <div class="b-static-image" style="height:32;width:32;">
                        <img style="display:none;" class="icon" height="32" width="32"
                             src="https://assets.jijistatic.net/static/img/footer-anchors/srilanka.svg" alt="Sri Lanka">
                    </div>
                </a>
                <a href="https://jiji.cd" rel="nofollow" class="b-app-footer__group-countries__item">
                    <div class="b-static-image" style="height:32;width:32;">
                        <img style="display:none;" class="icon" height="32" width="32"
                             src="https://assets.jijistatic.net/static/img/footer-anchors/congo.svg"
                             alt="Democratic Republic of the Congo">
                    </div>
                </a>
                <a href="https://milay.pk" rel="nofollow" class="b-app-footer__group-countries__item">
                    <div class="b-static-image" style="height:32;width:32;">
                        <img style="display:none;" class="icon" height="32" width="32"
                             src="https://assets.jijistatic.net/static/img/footer-anchors/pakistan.svg" alt="Pakistan">
                    </div>
                </a>
                <!--]-->
            </div>
            <div class="b-app-footer__copyright">
                <div></div>
                <div>© 2025 Jiji.ng</div>
            </div>
        </div>
    </div>
</div>
