<div>
    <div class="b-filter-attributes"><!----><!--[-->
        <div class="b-filter-attribute">
            <div class="h-pv-12 h-bold b-filter-attribute__name">
                <div class="h-pl-16 h-pointer"><!--[-->Price, ₦<!--]--><!----></div>
                <svg class="icons h-pointer h-mr-16" color="#303A4B" border-width="1" height="13px"
                     width="13px"><!----><!---->
                    <use href="/nuxt/icons.Dd8-_jxv.svg#collapse"
                         xlink:href="/nuxt/icons.Dd8-_jxv.svg#collapse"></use>
                </svg>
            </div>
            <div class="h-ph-16"><!--[-->
                <div class="b-filter-attribute-range"><!--[-->
                    <div class="h-pb-16 h-dflex h-flex-cross-center">
                        <div class="b-filter-attribute-range__input"><label for="min-1000002">
                            min </label><input id="min-1000002" value="" class="qa-min-price" type="text"></div>
                        <div class="h-ph-8">
                            <svg class="icons" height="13px" width="9px"><!----><!---->
                                <use href="/nuxt/icons.Dd8-_jxv.svg#collapse"
                                     xlink:href="/nuxt/icons.Dd8-_jxv.svg#collapse"></use>
                            </svg>
                        </div>
                        <div class="b-filter-attribute-range__input"><label for="max-1000002">
                            max </label><input id="max-1000002" value="" class="qa-max-price" type="text"></div>
                    </div>
                    <div>
                        <div class="b-filter-attribute__options">
                            <div><!--[--><!--[-->
                                <div class="fw-radio qa-fw-radio">
                                    <div class="fw-radio__container qa-fw-radio__container"><input type="radio"
                                                                                                   id="r-1000002-0"
                                                                                                   value="0"></div>
                                    <label class="fw-radio__label" for="r-1000002-0"><!--[-->Under 20 K <span
                                            class="h-jiji-blue h-font-normal"> • 19 335 ads</span><!--]--></label></div>
                                <div class="fw-radio qa-fw-radio">
                                    <div class="fw-radio__container qa-fw-radio__container"><input type="radio"
                                                                                                   id="r-1000002-1"
                                                                                                   value="1"></div>
                                    <label class="fw-radio__label" for="r-1000002-1"><!--[-->20 - 120 K <span
                                            class="h-jiji-blue h-font-normal"> • 77 340 ads</span><!--]--></label></div>
                                <div class="fw-radio qa-fw-radio">
                                    <div class="fw-radio__container qa-fw-radio__container"><input type="radio"
                                                                                                   id="r-1000002-2"
                                                                                                   value="2"></div>
                                    <label class="fw-radio__label" for="r-1000002-2"><!--[-->120 K - 11 M <span
                                            class="h-jiji-blue h-font-normal"> • 128 901 ads</span><!--]--></label></div>
                                <div class="fw-radio qa-fw-radio">
                                    <div class="fw-radio__container qa-fw-radio__container"><input type="radio"
                                                                                                   id="r-1000002-3"
                                                                                                   value="3"></div>
                                    <label class="fw-radio__label" for="r-1000002-3"><!--[-->11 - 55 M <span
                                            class="h-jiji-blue h-font-normal"> • 80 563 ads</span><!--]--></label></div>
                                <div class="fw-radio qa-fw-radio">
                                    <div class="fw-radio__container qa-fw-radio__container"><input type="radio"
                                                                                                   id="r-1000002-4"
                                                                                                   value="4"></div>
                                    <label class="fw-radio__label" for="r-1000002-4"><!--[-->More than 55 M <span
                                            class="h-jiji-blue h-font-normal"> • 16 112 ads</span><!--]--></label></div>
                                <!--]--><!--]--></div>
                        </div>
                    </div>
                    <div class="h-dflex h-flex-cross-center h-flex-space-between h-pv-8">
                        <button
                                class="fw-button qa-fw-button fw-button--type-black fw-button--size-small fw-button--plain fw-button--disabled b-filter-attribute-range__button b-filter-attribute-range__button--grey h-uppercase h-bold b-filter-attribute-range__button--disabled"
                                disabled="" type="button"><span class="fw-button__content"><!----><span
                                class="fw-button__slot-wrapper"><!--[-->Clear<!--]--></span></span></button>
                        <button
                                class="fw-button qa-fw-button fw-button--type-success fw-button--size-small fw-button--plain fw-button--disabled b-filter-attribute-range__button b-filter-attribute-range__button--green h-uppercase h-bold b-filter-attribute-range__button--disabled"
                                disabled="" type="button"><span class="fw-button__content"><!----><span
                                class="fw-button__slot-wrapper"><!--[-->Save<!--]--></span></span></button>
                    </div><!--]--></div><!--]--></div>
        </div>
        <div class="b-filter-attribute">
            <div class="h-pv-12 h-bold b-filter-attribute__name">
                <div class="h-pl-16 h-pointer"><!--[-->Verified sellers<!--]--><!----></div>
                <svg class="icons h-pointer h-mr-16" color="#303A4B" border-width="1" height="13px"
                     width="13px"><!----><!---->
                    <use href="/nuxt/icons.Dd8-_jxv.svg#collapse"
                         xlink:href="/nuxt/icons.Dd8-_jxv.svg#collapse"></use>
                </svg>
            </div>
            <div class="h-ph-16"><!--[-->
                <div class="b-filter-attribute-select h-pb-16"><!--[--><!---->
                    <div>
                        <div class="b-filter-attribute__options">
                            <div><!--[-->
                                <div
                                        class="fw-radio qa-fw-radio fw-checked qa-fw-checked b-filter-attribute__popular">
                                    <div class="fw-radio__container qa-fw-radio__container"><input type="radio"
                                                                                                   id="s-1000003-all"
                                                                                                   value="true"></div>
                                    <label class="fw-radio__label" for="s-1000003-all"><!--[--> Show all
                                        <!--]--></label></div><!--[-->
                                <div class="fw-radio qa-fw-radio">
                                    <div class="fw-radio__container qa-fw-radio__container"><input type="radio"
                                                                                                   id="s-1000003-0"
                                                                                                   value="Verified sellers">
                                    </div>
                                    <label class="fw-radio__label" for="s-1000003-0"><!--[-->Verified sellers
                                        <!----><span class="h-jiji-blue h-font-normal"> • 191 373 ads</span><!--]-->
                                    </label></div>
                                <div class="fw-radio qa-fw-radio">
                                    <div class="fw-radio__container qa-fw-radio__container"><input type="radio"
                                                                                                   id="s-1000003-1"
                                                                                                   value="Unverified sellers">
                                    </div>
                                    <label class="fw-radio__label" for="s-1000003-1"><!--[-->Unverified sellers<!----><span
                                            class="h-jiji-blue h-font-normal"> • 130 880 ads</span><!--]--></label></div>
                                <!--]--><!--]--></div>
                        </div>
                    </div><!--]--></div><!--]--></div>
        </div>
        <div class="b-filter-attribute">
            <div class="h-pv-12 h-bold b-filter-attribute__name">
                <div class="h-pl-16 h-pointer"><!--[-->Discount<!--]--><!----></div>
                <svg class="icons h-pointer h-mr-16" color="#303A4B" border-width="1" height="13px"
                     width="13px"><!----><!---->
                    <use href="/nuxt/icons.Dd8-_jxv.svg#collapse"
                         xlink:href="/nuxt/icons.Dd8-_jxv.svg#collapse"></use>
                </svg>
            </div>
            <div class="h-ph-16"><!--[-->
                <div class="b-filter-attribute-select h-pb-16"><!--[--><!---->
                    <div>
                        <div class="b-filter-attribute__options">
                            <div><!--[-->
                                <div
                                        class="fw-radio qa-fw-radio fw-checked qa-fw-checked b-filter-attribute__popular">
                                    <div class="fw-radio__container qa-fw-radio__container"><input type="radio"
                                                                                                   id="s-1000004-all"
                                                                                                   value="true"></div>
                                    <label class="fw-radio__label" for="s-1000004-all"><!--[--> Show all
                                        <!--]--></label></div><!--[-->
                                <div class="fw-radio qa-fw-radio">
                                    <div class="fw-radio__container qa-fw-radio__container"><input type="radio"
                                                                                                   id="s-1000004-0"
                                                                                                   value="yes"></div>
                                    <label class="fw-radio__label" for="s-1000004-0"><!--[-->With discount<!----><span
                                            class="h-jiji-blue h-font-normal"> • 405 ads</span><!--]--></label></div>
                                <div class="fw-radio qa-fw-radio">
                                    <div class="fw-radio__container qa-fw-radio__container"><input type="radio"
                                                                                                   id="s-1000004-1"
                                                                                                   value="no"></div>
                                    <label class="fw-radio__label" for="s-1000004-1"><!--[-->Without discount
                                        <!----><span class="h-jiji-blue h-font-normal"> • 321 848 ads</span><!--]-->
                                    </label></div><!--]--><!--]--></div>
                        </div>
                    </div><!--]--></div><!--]--></div>
        </div><!--]--><!----></div>
</div>
