<div class="b-app-header-wrapper">
    <div class="b-app-header--active b-app-header">
        <!--[-->
        <div class="container b-app-header__inner">
            <div class="b-app-header__inner_flex">
                <!---->
                <a href="/public" class="h-dinline-flex h-pointer" aria-label="Home">
                    <svg class="icons h-mr-3" color="#fff" height="40px" width="44px">
                        <!---->
                        <!---->
                        <use href="/nuxt/icons.Dd8-_jxv.svg#logo-jiji" xlink:href="/nuxt/icons.Dd8-_jxv.svg#logo-jiji"></use>
                    </svg>
                </a>
                <!---->
            </div>
            <!---->
            <div class="b-app-header__title">
                <div class="b-app-header__title-text">Sell faster</div>
                <div class="b-app-header__title-text">Buy smarter</div>
            </div>
            <div class="b-app-header__user-bar">
                <!--[-->
                <div class="h-mh-15">
                    <div class="b-app-header-profile__wrapper">
                        <div class="b-app-header-profile__inner">
                            <!--[-->
                            <span class="b-app-header-profile__item__text b-app-header-profile-menu-item h-dflex">
                                                            <a aria-current="page" href="/public?auth=Login"
                                                               class="router-link-active router-link-exact-active h-flex-center"
                                                               style="">
                                                                <!--[-->
                                                              <!--[-->
                                                              <!---->
                                                              <!--[-->
                                                                <div>Signs in</div>
                                                              <!--]-->
                                                              <!--]-->
                                                                <span></span>
                                                              <!--]-->
                                                            </a>
                                                        </span>
                            <span class="b-app-header-profile__item__text b-app-header-profile-menu-item h-dflex">
                                                            <a aria-current="page" href="/public?auth=Registration"
                                                               class="router-link-active router-link-exact-active h-flex-center"
                                                               style="">
                                                                <!--[-->
                                                              <!--[-->
                                                              <!---->
                                                              <!--[-->
                                                                <div>Registration</div>
                                                              <!--]-->
                                                              <!--]-->
                                                                <span></span>
                                                              <!--]-->
                                                            </a>
                                                        </span>
                            <!--]-->
                        </div>
                    </div>
                </div>
                <div class="h-mh-15">
                    <div class="h-width-120">
                        <button
                                class="fw-button qa-fw-button fw-button--type-bloated-warning fw-button--size-medium h-width-100p h-uppercase qa-header-sell"
                                type="button">
                                                        <span class="fw-button__content">
                                                            <!---->
                                                            <span class="fw-button__slot-wrapper">
                                                            <!--[-->
                                                            Sell
                                                              <!--]-->
                                                            </span>
                                                        </span>
                        </button>
                    </div>
                </div>
                <!--]-->
            </div>
            <!---->
        </div>
        <!--]-->
    </div>
</div>
