<div class="masonry-item"><!---->
  <div class="b-list-advert__gallery__item js-advert-list-item"><a
    href="/{{item.category_name}}/{{item.id}}"
    class="b-list-advert-base b-list-advert-base--vip b-list-advert-base--gallery qa-advert-list-item"
    style="border: 2px solid rgb(0, 181, 63);">
    <div class="b-list-advert-base__img__wrapper b-list-advert-base__img__wrapper--one-image">
      <div class="b-list-advert-base__img js-list-advert-base-img" style="padding-bottom: 75%;"><!---->
        <picture class="h-flex-center h-width-100p h-height-100p h-overflow-hidden" sources="">
          <source type="image/webp"
                  srcset="{{item.imageUrl}}">
          <img alt="Photo - Land Rover Lr4 HSE 2012 Black" loading="eager" class="" data-nuxt-pic=""
               src="https://pictures-nigeria.jijistatic.net/169803529_MzAwLTIyNS1jNjYzNzRhNTg4.webp"
               srcset="{{item.imageUrl}}"
               style="height: 100%; width: 100%;"></picture>
      </div>
      <div class="b-list-advert-base__labels">
        <div class="b-list-advert-base__label">
          <div class="b-list-advert-base__label__inner">
            <svg class="icons h-mr-5" color="#28363E" height="12px" width="12px"><!----><!---->
              <use href="/nuxt/icons.Dd8-_jxv.svg#popular" xlink:href="/nuxt/icons.Dd8-_jxv.svg#popular"></use>
            </svg>
            Popular <!----></div>
        </div>
        <div class="b-list-advert-base__label">
          <div class="b-list-advert-base__label__inner">
            <svg class="icons h-mr-5" color="#28363E" height="10px" width="10px"><!----><!---->
              <use href="/nuxt/icons.Dd8-_jxv.svg#quick-reply" xlink:href="/nuxt/icons.Dd8-_jxv.svg#quick-reply"></use>
            </svg>
            Quick reply <!----></div>
        </div>
      </div>
      <div class="b-list-advert-base__pkg-label">ENTERPRISE</div>
    </div>
    <div class="b-list-advert-base__data">
      <div class="b-list-advert-base__data__inner">
        <div class="b-list-advert-base__data__header">
          <div class="b-list-advert-base__data__price">
            <div class="b-list-advert__price h-mt-3">
              <div class="b-list-advert__price-base">
                <div class="qa-advert-price">₦ 9,500,000</div><!----></div>
            </div><!----></div>
          <div class="b-list-advert-base__data__title">
            <div class="qa-advert-list-item-title b-list-advert-base__item-title">
              <div class="b-advert-title-inner qa-advert-title b-advert-title-inner--div">{{item.name}}
              </div>
            </div>
          </div>
        </div>
        <div class="b-list-advert-base__body">
          <div class="b-list-advert-base__description">
            <div class="b-list-advert-base__description-text">{{item.description}}
            </div>
          </div>
          <div class="b-list-advert-base__attrs">
            <div class="b-list-advert-base__item-attr__wrapper"><!----><!---->
              <div class="b-list-advert-base__item-attr">Local Used <!----></div>
              <div class="b-list-advert-base__item-attr">{{item.transmission}} <!----></div>
            </div>
          </div>
          <div class="b-list-advert-base__bottom-wrapper">
            <div class="b-list-advert-base__location">
              <div class="b-list-advert__location__inner">
                <div class="b-list-advert__region">
                  <svg class="icons h-flex-0-0-16 h-mr-2 h-pb-1" color="#6C8EA0" height="14px" width="11px"><!---->
                    <!---->
                    <use href="/nuxt/icons.Dd8-_jxv.svg#geo-marker-3"
                         xlink:href="/nuxt/icons.Dd8-_jxv.svg#geo-marker-3"></use>
                  </svg>
                  <span class="b-list-advert__region__text">{{item.location}}</span></div>
              </div>
            </div>
            <div class="b-list-advert-base__ps-logo">
              <div class="b-static-image" style="height: 16px; width: 16px;"><img class="icon" height="16px"
                                                                                  width="16px"
                                                                                  src="https://assets.jijistatic.net/static/img/premium-landing/enterprise.svg"
                                                                                  alt="enterprise" style=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a></div>
  <div class="b-list-advert__gallery__item"><!----></div>
</div>
