<div id="__nuxt">
  <div>
    <img src="/tre.gif" alt="tre.gif" width="1px" height="1px" class="h-hide-image">
    <div id="js-stickers-wrapper" class="b-stickers-wrapper"></div>
    <div class="b-body-wrapper js-body-wrapper">
      <div class="h-bg-jiji-body h-min-height-100p h-width-100p h-flex">
        <div class="b-app__wrapper">
          <app-header2></app-header2>
          <div class="b-content-wrapper" style="background-color:;">
            <!--[-->
            <!--[-->
            <div class="container h-pt-10 qa-advert-page h-pos-rel b-advert-page-wrapper">
              <div>
                <ol class="qa-bread-crumbs b-breadcrumb-wrapper h-no-text-overflow h-pb-10">
                  <!--[-->
                  <li class="b-breadcrumb-inner">
                    <a href="/" class="qa-bread-crumbs-link b-breadcrumb-link">
                      <span>All ads</span>
                    </a>
                    <meta>
                  </li>
                  <li class="b-breadcrumb-inner">
                    <a href="/vehicles" class="qa-bread-crumbs-link b-breadcrumb-link">
                      <span>Vehicles</span>
                    </a>
                    <meta>
                  </li>
                  <li class="b-breadcrumb-inner">
                    <a href="/cars" class="qa-bread-crumbs-link b-breadcrumb-link">
                      <span>Cars</span>
                    </a>
                    <meta>
                  </li>
                  <li class="b-breadcrumb-inner">
                    <a href="/cars/toyota-avalon-2014-black" class="qa-bread-crumbs-link b-breadcrumb-link">
                      <span>Toyota Avalon 2014 Black Cars</span>
                    </a>
                    <meta>
                  </li>
                  <li class="b-breadcrumb-inner">
                    <div class="b-breadcrumb-link--current-url h-disable-link qa-bread-crumbs-link b-breadcrumb-link">
                      <span>Toyota Avalon 2014 Black</span>
                    </div>
                    <meta>
                  </li>
                  <!--]-->
                </ol>
                <div category-id="29" show-base-adsense="false" category-slug="cars"></div>
                <div class="qa-show-adsense h-max-width-100p h-mb-15" show-base-adsense="false">
                  <div id="div-gpt-ad-1487921888460-0" data-ref="div-gpt-ad-1487921888460-0" style="width:970px;height:90px;max-width:none;max-height:90px;min-height:90px;padding-top:0;opacity:0;" class="b-adsense-wrapper b-adsense-item h-mt-10"></div>
                </div>
                <div class="b-advert-seller-info-wrapper" itemscope itemtype="http://schema.org/Product">
                  <div class="b-advert-item-wrapper">
                    <!---->
                    <div class="b-user-notification-wrapper">
                      <!--[-->
                      <!--]-->
                    </div>
                    <div class="b-advert-card-wrapper">
                      <div class="">
                        <!---->
                        <app-product-detail-image></app-product-detail-image>
                      </div>
                      <app-product-detail-info></app-product-detail-info>
                    </div>
                  </div>
                  <app-product-detail-seller-info></app-product-detail-seller-info>
                </div>
                <!---->
                <div class="h-dflex h-pb-20 h-flex-dir-column">
                  <!---->
                  <span></span>
                </div>
                <span></span>
                <span></span>
              </div>
            </div>
            <!--]-->
            <!--]-->
            <!---->
            <!---->
          </div>
          <!---->
        </div>
      </div>
    </div>
    <div>
      <!---->
      <span></span>
      <div>
        <!---->
      </div>
      <!---->
      <span></span>
    </div>
    <img src="/api_web/v1/frame_left.gif" alt="frame_left.gif" width="1px" height="1px" class="h-hide-image">
  </div>
</div>

