<div class="b-advert-carousel">
    <div class="b-advert-carousel__image--has-badges b-advert-carousel__image h-pos-rel h-max-width-100vw">
        <div class="b-advert-carousel__image-badges">
            <!---->
            <!---->
        </div>
        <!--[-->
        <div class="b-slider-image__wrapper">
            <picture class="h-flex-center h-width-100p h-height-100p h-overflow-hidden" itemprop="image"
                     content="https://pictures-nigeria.jijistatic.net/169675798_MTYwMC0yMTMzLTc3ODFlZTEzYzY.webp">
                <!--[-->
                <source type="image/webp"
                        srcset="https://pictures-nigeria.jijistatic.net/169675798_MTYwMC0yMTMzLTc3ODFlZTEzYzY.webp 1x">
                <!--]-->
                <img alt="Toyota Avalon 2014 Black" loading="eager" onerror="this.setAttribute(&#39;data-error&#39;, 1)"
                     style="height:100%;width:100%;" class="b-slider-image qa-carousel-slide" data-nuxt-pic
                     src="https://pictures-nigeria.jijistatic.net/169675798_MTYwMC0yMTMzLTc3ODFlZTEzYzY.webp"
                     srcset="https://pictures-nigeria.jijistatic.net/169675798_MTYwMC0yMTMzLTc3ODFlZTEzYzY.webp 1x">
            </picture>
        </div>
        <!--]-->
        <!--[-->
        <div class="b-carousel-counter">
            <svg class="icons h-mr-5" color="#f2f2f2" height="16px" width="14px">
                <!---->
                <!---->
                <use href="/nuxt/icons.Dd8-_jxv.svg#camera" xlink:href="/nuxt/icons.Dd8-_jxv.svg#camera"></use>
            </svg>
            <div class="qa-carousel-counter">1/10</div>
        </div>
        <div>
            <div class="b-carousel-arrow b-carousel-arrow--left">
                <svg class="icons h-mr-3" color="#f2f2f2" height="32px" width="15px">
                    <!---->
                    <!---->
                    <use href="/nuxt/icons.Dd8-_jxv.svg#arrow-left" xlink:href="/nuxt/icons.Dd8-_jxv.svg#arrow-left"></use>
                </svg>
            </div>
            <div class="b-carousel-arrow b-carousel-arrow--right">
                <svg class="icons h-ml-3" color="#f2f2f2" height="32px" width="15px">
                    <!---->
                    <!---->
                    <use href="/nuxt/icons.Dd8-_jxv.svg#arrow-right" xlink:href="/nuxt/icons.Dd8-_jxv.svg#arrow-right"></use>
                </svg>
            </div>
        </div>
        <!--]-->
        <!--[-->
        <!--]-->
    </div>
    <div class="b-advert-carousel__thumbnails h-flex h-overflow-hidden">
        <div style="margin-left:-5px;margin-right:-5px;" class="qa-carousel-thumbnails h-dflex h-mt-5">
            <!--[-->
            <div style="height:;width:20%;">
                <div class="active qa-carousel-thumbnail-0 qa-carousel-thumbnail b-carousel-thumbnails" style="margin:5px;">
                    <picture class="h-flex-center h-width-100p h-height-100p h-overflow-hidden">
                        <!--[-->
                        <source type="image/webp"
                                srcset="https://pictures-nigeria.jijistatic.net/169675798_MzAwLTQwMC03NzgxZWUxM2M2.webp 1x">
                        <!--]-->
                        <img alt="Toyota Avalon 2014 Black" loading="lazy" onerror="this.setAttribute(&#39;data-error&#39;, 1)"
                             style="height:100%;width:100%;" class="b-carousel-thumbnails--image qa-carousel-thumbnail__image"
                             data-nuxt-pic src="https://pictures-nigeria.jijistatic.net/169675798_MzAwLTQwMC03NzgxZWUxM2M2.webp"
                             srcset="https://pictures-nigeria.jijistatic.net/169675798_MzAwLTQwMC03NzgxZWUxM2M2.webp 1x">
                    </picture>
                    <!---->
                    <!---->
                </div>
            </div>
            <div style="height:;width:20%;">
                <div class="qa-carousel-thumbnail-1 qa-carousel-thumbnail b-carousel-thumbnails" style="margin:5px;">
                    <picture class="h-flex-center h-width-100p h-height-100p h-overflow-hidden">
                        <!--[-->
                        <source type="image/webp"
                                srcset="https://pictures-nigeria.jijistatic.net/169675799_MzAwLTQwMC02OGEyOGFhNzc0.webp 1x">
                        <!--]-->
                        <img alt="Toyota Avalon 2014 Black" loading="lazy" onerror="this.setAttribute(&#39;data-error&#39;, 1)"
                             style="height:100%;width:100%;" class="b-carousel-thumbnails--image qa-carousel-thumbnail__image"
                             data-nuxt-pic src="https://pictures-nigeria.jijistatic.net/169675799_MzAwLTQwMC02OGEyOGFhNzc0.webp"
                             srcset="https://pictures-nigeria.jijistatic.net/169675799_MzAwLTQwMC02OGEyOGFhNzc0.webp 1x">
                    </picture>
                    <!---->
                    <!---->
                </div>
            </div>
            <div style="height:;width:20%;">
                <div class="qa-carousel-thumbnail-2 qa-carousel-thumbnail b-carousel-thumbnails" style="margin:5px;">
                    <picture class="h-flex-center h-width-100p h-height-100p h-overflow-hidden">
                        <!--[-->
                        <source type="image/webp"
                                srcset="https://pictures-nigeria.jijistatic.net/169675800_MzAwLTQwMC1lYWQ0NDM3MjBl.webp 1x">
                        <!--]-->
                        <img alt="Toyota Avalon 2014 Black" loading="lazy" onerror="this.setAttribute(&#39;data-error&#39;, 1)"
                             style="height:100%;width:100%;" class="b-carousel-thumbnails--image qa-carousel-thumbnail__image"
                             data-nuxt-pic src="https://pictures-nigeria.jijistatic.net/169675800_MzAwLTQwMC1lYWQ0NDM3MjBl.webp"
                             srcset="https://pictures-nigeria.jijistatic.net/169675800_MzAwLTQwMC1lYWQ0NDM3MjBl.webp 1x">
                    </picture>
                    <!---->
                    <!---->
                </div>
            </div>
            <div style="height:;width:20%;">
                <div class="qa-carousel-thumbnail-3 qa-carousel-thumbnail b-carousel-thumbnails" style="margin:5px;">
                    <picture class="h-flex-center h-width-100p h-height-100p h-overflow-hidden">
                        <!--[-->
                        <source type="image/webp"
                                srcset="https://pictures-nigeria.jijistatic.net/169675791_MzAwLTQwMC03NGVhOWFkZDll.webp 1x">
                        <!--]-->
                        <img alt="Toyota Avalon 2014 Black" loading="lazy" onerror="this.setAttribute(&#39;data-error&#39;, 1)"
                             style="height:100%;width:100%;" class="b-carousel-thumbnails--image qa-carousel-thumbnail__image"
                             data-nuxt-pic src="https://pictures-nigeria.jijistatic.net/169675791_MzAwLTQwMC03NGVhOWFkZDll.webp"
                             srcset="https://pictures-nigeria.jijistatic.net/169675791_MzAwLTQwMC03NGVhOWFkZDll.webp 1x">
                    </picture>
                    <!---->
                    <!---->
                </div>
            </div>
            <div style="height:;width:20%;">
                <div class="qa-carousel-thumbnail-4 qa-carousel-thumbnail b-carousel-thumbnails" style="margin:5px;">
                    <picture class="h-flex-center h-width-100p h-height-100p h-overflow-hidden">
                        <!--[-->
                        <source type="image/webp"
                                srcset="https://pictures-nigeria.jijistatic.net/169675795_MzAwLTQwMC1mMGRhMTE5ZTVj.webp 1x">
                        <!--]-->
                        <img alt="Toyota Avalon 2014 Black" loading="lazy" onerror="this.setAttribute(&#39;data-error&#39;, 1)"
                             style="height:100%;width:100%;" class="b-carousel-thumbnails--image qa-carousel-thumbnail__image"
                             data-nuxt-pic src="https://pictures-nigeria.jijistatic.net/169675795_MzAwLTQwMC1mMGRhMTE5ZTVj.webp"
                             srcset="https://pictures-nigeria.jijistatic.net/169675795_MzAwLTQwMC1mMGRhMTE5ZTVj.webp 1x">
                    </picture>
                    <!---->
                    <div style="font-size:35px;" class="b-carousel-thumbnails-limit">
                        <div class="b-carousel-thumbnail-title">
                            <span class="b-carousel-thumbnail-title-plus">+ </span>
                            5
                        </div>
                        <div class="b-carousel-thumbnail-aside">images</div>
                    </div>
                </div>
            </div>
            <!--]-->
        </div>
    </div>
    <!---->
</div>
