<div class="b-choose-location-section h-mb-15">
    <div class="qa-choose-location b-choose-location-section__inner h-pointer">
        <div class="b-choose-location-section__right h-max-width-100p">
            <div class="b-choose-location-section__heading">Location</div>
            <div class="b-choose-location-section__current-location">All Nigeria</div>
        </div>
        <svg class="icons" width="6px" height="10px" color="#6C8EA0"><!----><!---->
            <use href="/nuxt/icons.Dd8-_jxv.svg#arrow-right"
                 xlink:href="/nuxt/icons.Dd8-_jxv.svg#arrow-right"></use>
        </svg>
    </div><!----></div><!--]-->
