<div class="b-seller-info-wrapper">
    <div class="b-advert-seller-block-outer">
        <div class="b-advert-seller-block">
            <!--[-->
            <div class="b-alt-advert-price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                <div class="b-alt-advert-price-wrapper">
                    <div class="qa-advert-price-view b-alt-advert-price__container">
                        <div class="qa-advert-price-view-title b-alt-advert-price__text" itemprop="price" content="13850000">
                            <span class="qa-advert-price-view-value">₦ 13,850,000</span>
                            <meta itemprop="priceCurrency" content="NGN">
                            <!---->
                        </div>
                        <!---->
                        <!---->
                        <!---->
                        <link nonce="HdUBi2b0859RstXHqDcVomov" itemprop="availability" href="https://schema.org/InStock">
                    </div>
                </div>
                <!--[-->
                <!--]-->
                <!--[-->
                <!--]-->
                <!---->
                <div class="b-alt-advert-price__buttons h-mt-5">
                    <!--[-->
                    <div class="b-price-info h-hide-scrollbar">
                        <div class="b-price-info__price-valuation-button">
                            <button class="fw-button qa-fw-button fw-button--type-bloated-success-border-gray fw-button--size-tiny"
                                    type="button">
                                                                            <span class="fw-button__content">
                                                                                <!---->
                                                                                <span class="fw-button__slot-wrapper">
                                                                                <!--[-->
                                                                                  <!--[-->
                                                                                Market price: ₦ 14.2 M ~ 15.51 M
                                                                                  <!--]-->
                                                                                  <!--]-->
                                                                                </span>
                                                                            </span>
                            </button>
                            <span></span>
                        </div>
                    </div>
                    <!--]-->
                    <!--[-->
                    <!---->
                    <!---->
                    <div class="b-request-callback qa-request-seller-to-call-back h-width-100p h-mt-8">
                        <div style="display:none;" class="b-spin-loader--small-padding h-width-100p b-spin-loader">
                            <div class="b-bouncing-loader" style="bottom:0;">
                                <!--[-->
                                <div style=""></div>
                                <div style=""></div>
                                <div style=""></div>
                                <!--]-->
                            </div>
                        </div>
                        <!--[-->
                        <div class="b-request-callback__button">
                            <button
                                    class="fw-button qa-fw-button fw-button--type-bloated-success fw-button--size-medium fw-button--plain b-request-callback-button h-width-100p qa-request-to-callback"
                                    type="button">
                                                                            <span class="fw-button__content">
                                                                                <!---->
                                                                                <span class="fw-button__slot-wrapper">
                                                                                <!--[-->
                                                                                Request call back
                                                                                  <!--]-->
                                                                                </span>
                                                                            </span>
                            </button>
                        </div>
                        <!---->
                        <!--]-->
                        <!---->
                    </div>
                    <!---->
                    <!--]-->
                </div>
            </div>
            <!--]-->
        </div>
        <!--[-->
        <!---->
        <!--]-->
        <!---->
        <div class="b-advert-seller-block">
            <!--[-->
            <a href="/sellerpage-tINrUxYAFbSUERGJl3jfdfWt" class="b-seller-block__avatar__wrapper">
                <!--[-->
                <div class="b-seller-block__avatar"
                     style="background-image:url(https://pictures-nigeria.jijistatic.net/44540262_img-20200407-225931_200x200.jpg);">
                    <div class="active b-seller-online-status"></div>
                    <!---->
                </div>
                <div class="b-seller-block__info">
                    <div class="b-seller-block__name">Sureway Autos</div>
                    <div>
                        <!--[-->
                        <div class="b-advert-seller__label">
                            <svg class="icons" color="#005693" width="12px" height="12px">
                                <!---->
                                <!---->
                                <use href="/nuxt/icons.Dd8-_jxv.svg#id-verify" xlink:href="/nuxt/icons.Dd8-_jxv.svg#id-verify"></use>
                            </svg>
                            Verified ID
                        </div>
                        <!--]-->
                    </div>
                    <div class="h-dflex h-flex-wrap">
                        <div class="b-seller-block__info__stat">
                            <svg class="icons" color="#6C8EA0" width="13px" height="7px">
                                <!---->
                                <!---->
                                <use href="/nuxt/icons.Dd8-_jxv.svg#messenger" xlink:href="/nuxt/icons.Dd8-_jxv.svg#messenger"></use>
                            </svg>
                            Typically replies within minutes
                        </div>
                        <!---->
                        <div class="b-seller-block__info__stat">
                            <svg class="icons" color="#6C8EA0" width="15px" height="15px">
                                <!---->
                                <!---->
                                <use href="/nuxt/icons.Dd8-_jxv.svg#person" xlink:href="/nuxt/icons.Dd8-_jxv.svg#person"></use>
                            </svg>
                            5 y 8 m on Jiji
                        </div>
                    </div>
                </div>
                <!--]-->
            </a>
            <a rel="nofollow" class="qa-show-contact cy-show-contact js-show-contact b-show-contact">
                <!--[-->
                <span class="b-show-contact-content">
                                                                <!--[-->
                                                                <div
                                                                        class="h-flex-center b-button b-button--primary b-button--border-radius-8 b-button--size-full">
                                                                    <svg class="icons h-mr-7 h-mr-5" width="20px"
                                                                         height="20px" color="#fff">
                                                                        <!---->
                                                                      <!---->
                                                                        <use href="/nuxt/icons.Dd8-_jxv.svg#call"
                                                                             xlink:href="/nuxt/icons.Dd8-_jxv.svg#call"></use>
                                                                    </svg>
                                                                    <div class="b-button__text">Show contact</div>
                                                                </div>
                    <!--]-->
                                                            </span>
                <!--]-->
            </a>
            <!---->
            <div class="b-start-chat h-flex h-width-100p h-mt-8"
                 send-message-button-class="b-button b-button--primary b-button--border-radius-8 b-button--size-full">
                <div style="display:none;" class="">
                    <div class="b-bouncing-loader" style="bottom:0;">
                        <!--[-->
                        <div style=""></div>
                        <div style=""></div>
                        <div style=""></div>
                        <!--]-->
                    </div>
                </div>
                <div>
                    <div rel="nofollow" class="h-a-without-underline b-start-chat-icon">
                        <!--[-->
                        <span
                                class="qa-start-chat b-button b-button--transparent b-button--border-radius-8 h-width-100p h-flex-center">
                                                                        <svg class="icons h-mr-7 h-mt-2" width="20px"
                                                                             height="20px" color="#00B53F">
                                                                            <!---->
                                                                          <!---->
                                                                            <use
                                                                                    href="/nuxt/icons.Dd8-_jxv.svg#tab-message-outlined"
                                                                                    xlink:href="/nuxt/icons.Dd8-_jxv.svg#tab-message-outlined"></use>
                                                                        </svg>
                                                                        Start chat
                                                                    </span>
                        <!--]-->
                    </div>
                </div>
            </div>
            <!--]-->
        </div>
        <div class="b-advert-seller-block">
            <!--[-->
            <div class="b-leave-feedback-button">
                                                            <span
                                                                    class="b-button--has-feedback b-button b-button--secondary-light b-button--border-radius-8 b-advert-feedback-thin-button">
                                                                <!--[-->
                                                                <span class="h-flex b-feedback-count">
                                                                    <svg class="icons" width="20px" height="20px"
                                                                         color="#FEA03C">
                                                                        <!---->
                                                                      <!---->
                                                                        <use href="/nuxt/icons.Dd8-_jxv.svg#positive"
                                                                             xlink:href="/nuxt/icons.Dd8-_jxv.svg#positive"></use>
                                                                    </svg>
                                                                    3 Feedback
                                                                </span>
                                                                <span class="b-watch-all">
                                                                    view all
                                                                    <svg class="icons" width="12px" height="12px"
                                                                         color="#FEA03C">
                                                                        <!---->
                                                                      <!---->
                                                                        <use href="/nuxt/icons.Dd8-_jxv.svg#arrow-right"
                                                                             xlink:href="/nuxt/icons.Dd8-_jxv.svg#arrow-right"></use>
                                                                    </svg>
                                                                </span>
                                                              <!--]-->
                                                            </span>
            </div>
            <!--]-->
        </div>
    </div>
    <div class="b-advert-seller-block-outer">
        <!---->
        <div class="b-advert-seller-block b-advert-seller-block--tiny h-mv-8">
            <!--[-->
            <div class="b-advert-report-block h-dflex h-flex-center">
                <div class="b-mark-unavailable-button-wrapper">
                    <button
                            class="fw-button qa-fw-button fw-button--type-bloated-success fw-button--size-medium fw-button--plain b-mark-unavailable-button h-flex-center"
                            type="button">
                                                                    <span class="fw-button__content">
                                                                        <!---->
                                                                        <span class="fw-button__slot-wrapper">
                                                                        <!--[-->
                                                                        Mark unavailable
                                                                          <!--]-->
                                                                        </span>
                                                                    </span>
                    </button>
                    <span></span>
                </div>
                <div class="b-report-abuse-button-wrapper" after-text="Reported">
                    <a
                            href="/login.html?url=/isolo/cars/toyota-avalon-2014-black-za3FpNIp33HMtjHJWLHWMRvh.html?page=1%26pos=1%26cur_pos=1%26ads_per_page=24%26ads_count=321381%26lid=pKQmXBm0uZIPvJ0G%26indexPosition=0&amp;type=report-abuse"
                            class="fw-button qa-fw-button fw-button--type-bloated-success fw-button--size-medium fw-button--plain qa-button-report-abuse b-report-abuse-button h-flex-center">
                                                                    <span class="fw-button__content">
                                                                        <!---->
                                                                        <span class="fw-button__slot-wrapper">
                                                                            <!--[-->
                                                                            <span class="h-font-14 h-flex-center">
                                                                                <!--[-->
                                                                                <svg class="icons h-mr-5 h-mt-1"
                                                                                     color="#FC2533" height="13px"
                                                                                     width="13px">
                                                                                    <!---->
                                                                                  <!---->
                                                                                    <use
                                                                                            href="/nuxt/icons.Dd8-_jxv.svg#flag-2"
                                                                                            xlink:href="/nuxt/icons.Dd8-_jxv.svg#flag-2"></use>
                                                                                </svg>
                                                                                Report Abuse
                                                                              <!--]-->
                                                                            </span>
                                                                          <!--]-->
                                                                        </span>
                                                                    </span>
                    </a>
                    <span></span>
                </div>
            </div>
            <!--]-->
        </div>
        <div class="b-advert-seller-block">
            <!--[-->
            <div class="b-advert-safety-block h-flex-center" is-owner="false">
                <div>
                    <div class="b-advert-safety-block-title">Safety tips</div>
                    <ul class="b-advert-safety-list">
                        <!--[-->
                        <li>Avoid sending any prepayments</li>
                        <li>Meet with the seller at a safe public place</li>
                        <li>Inspect what you &#39;re going to buy to make sure it &#39;s what you need</li>
                        <li>Check all the docs and only pay if you &#39;re satisfied</li>
                        <!--]-->
                    </ul>
                </div>
                <div class="h-width-100p h-dflex h-flex-main-end">
                    <!---->
                </div>
            </div>
            <!--]-->
        </div>
        <div class="b-advert-seller-block">
            <!--[-->
            <div class="b-advert-big-button-outer b-post-ad-like-this h-width-100p">
                <a href="/login.html?type=post_similar_ad&amp;url=/add-free-ad.html?region_id=154%26category_id=29"
                   class="b-button b-button--transparent b-button--border-radius-8 h-width-100p qa-post-ad-like-this"
                   rel="nofollow">
                    <!--[-->
                    Post Ad Like This
                    <!--]-->
                </a>
            </div>
            <!--]-->
        </div>
    </div>
</div>
