<div class="qa-advert-item b-advert-card">
    <div class="b-advert-card__head">
        <!---->
        <div class="b-advert-card__head-region">
            <div class="b-advert-info-statistics-wrapper h-width-100p">
                <div class="b-advert-info-statistics__inner">
                    <div class="b-advert-paid-info h-mr-10">
                        <span class="b-advert-paid-info__text">Promoted</span>
                    </div>
                    <div class="b-advert-info-statistics b-advert-info-statistics--region">
                        <svg class="icons h-mr-4 h-mv-1 qa-region-icon" color="#99B2BF" width="13px" height="13px">
                            <!---->
                            <!---->
                            <use href="/nuxt/icons.Dd8-_jxv.svg#geo-marker-4"
                                 xlink:href="/nuxt/icons.Dd8-_jxv.svg#geo-marker-4"></use>
                        </svg>
                        Lagos, Isolo, 2 hours ago
                    </div>
                </div>
                <div class="b-advert-info-statistics">
                    <svg class="icons h-mr-5" color="#99B2BF" width="15px" height="12px">
                        <!---->
                        <!---->
                        <use href="/nuxt/icons.Dd8-_jxv.svg#password-show"
                             xlink:href="/nuxt/icons.Dd8-_jxv.svg#password-show"></use>
                    </svg>
                    5221 views
                </div>
            </div>
        </div>
        <div class="b-advert-title-outer">
            <div>
                <h1 itemprop="name" class="qa-advert-title b-advert-title" is-mobile="false">
                    <!--[-->
                    <!--]-->
                    <div class="b-advert-title-inner qa-advert-title b-advert-title-inner--h1">Toyota Avalon 2014 Black</div>
                </h1>
                <!---->
            </div>
            <div class="b-fav-button-advert">
                <div class="qa-like-button b-fav-button b-mobile-button-increase-square h-pt-0">
                    <svg class="icons b-fav-button__fav-icon" color="#aaaaaa" height="22px" width="22px">
                        <!---->
                        <!---->
                        <use href="/nuxt/icons.Dd8-_jxv.svg#tab-saved-outlined"
                             xlink:href="/nuxt/icons.Dd8-_jxv.svg#tab-saved-outlined"></use>
                    </svg>
                </div>
                <div class="unread-badge js-unread-badge">+1</div>
                <div class="b-fav-button-advert__text">6</div>
                <span></span>
            </div>
            <!---->
        </div>
        <!---->
        <!---->
        <!---->
    </div>
    <!---->
    <!--[-->
    <div is-delivery-shown="false">
        <div class="b-advert-attributes-wrapper b-advert-icon-attributes">
            <div class="b-advert-icon-attributes-container">
                <!--[-->
                <div class="b-advert-icon-attribute">
                    <div class="b-advert-icon-attribute__image"></div>
                    <span itemprop="itemCondition">Local Used</span>
                </div>
                <div class="b-advert-icon-attribute">
                    <div class="b-advert-icon-attribute__image"></div>
                    <span itemprop="fuelType">Petrol</span>
                </div>
                <div class="b-advert-icon-attribute">
                    <div class="b-advert-icon-attribute__image"></div>
                    <span itemprop="vehicleTransmission">Automatic</span>
                </div>
                <div class="b-advert-icon-attribute">
                    <div class="b-advert-icon-attribute__image"></div>
                    <span itemprop="mileageFromOdometer">84548 km</span>
                </div>
                <!--]-->
            </div>
        </div>
        <div class="b-advert-attributes-wrapper">
            <div class="b-advert-attributes--tiles">
                <div class="b-advert-item-details-collapser">
                    <div class="b-advert-item-details-collapser__title h-dflex h-flex-cross-center">
                        <div class="b-advert-item-details-collapser__title-wrapper h-flex-1-0">
                            <!--[-->
                            <!--]-->
                        </div>
                        <!---->
                    </div>
                    <div class="b-advert-item-details-collapser__visible">
                        <!--[-->
                        <!--[-->
                        <div class="b-advert-attribute h-pb-5">
                            <div class="b-advert-attribute__value" itemprop="secondCondition">
                                <!--[-->
                                No faults
                                <!--]-->
                                <!---->
                            </div>
                            <div class="b-advert-attribute__key">Second Condition</div>
                        </div>
                        <div class="b-advert-attribute h-pb-5">
                            <div class="b-advert-attribute__value" itemprop="brand">
                                <!--[-->
                                Toyota
                                <!--]-->
                                <!---->
                            </div>
                            <div class="b-advert-attribute__key">Make</div>
                        </div>
                        <div class="b-advert-attribute h-pb-5">
                            <div class="b-advert-attribute__value" itemprop="model">
                                <!--[-->
                                Avalon
                                <!--]-->
                                <!---->
                            </div>
                            <div class="b-advert-attribute__key">Model</div>
                        </div>
                        <div class="b-advert-attribute h-pb-5">
                            <div class="b-advert-attribute__value" itemprop="productionDate">
                                <!--[-->
                                2014
                                <!--]-->
                                <!---->
                            </div>
                            <div class="b-advert-attribute__key">Year of Manufacture</div>
                        </div>
                        <div class="b-advert-attribute h-pb-5">
                            <div class="b-advert-attribute__value">
                                <!--[-->
                                XLE 4dr Sedan (3.5L 6cyl 6A)
                                <!--]-->
                                <!---->
                            </div>
                            <div class="b-advert-attribute__key">Trim</div>
                        </div>
                        <div class="b-advert-attribute h-pb-5">
                            <div class="b-advert-attribute__value" itemprop="bodyType">
                                <!--[-->
                                Sedan
                                <!--]-->
                                <!---->
                            </div>
                            <div class="b-advert-attribute__key">Body</div>
                        </div>
                        <!--]-->
                        <!--]-->
                    </div>
                    <div class="b-advert-item-details-collapser__rest" style="min-height:;">
                        <div class="b-advert-item-details-collapser__rest-wrapper">
                            <!--[-->
                            <!--[-->
                            <div class="b-advert-attribute">
                                <div class="b-advert-attribute__value" itemprop="driveWheelConfiguration">
                                    <!--[-->
                                    Front Wheel
                                    <!--]-->
                                    <!---->
                                </div>
                                <div class="b-advert-attribute__key">Drivetrain</div>
                            </div>
                            <div class="b-advert-attribute">
                                <div class="b-advert-attribute__value">
                                    <!--[-->
                                    3500
                                    <!--]-->
                                    <span class="h-ml-5">cc</span>
                                </div>
                                <div class="b-advert-attribute__key">Engine Size</div>
                            </div>
                            <div class="b-advert-attribute">
                                <div class="b-advert-attribute__value">
                                    <!--[-->
                                    6
                                    <!--]-->
                                    <!---->
                                </div>
                                <div class="b-advert-attribute__key">Number of Cylinders</div>
                            </div>
                            <div class="b-advert-attribute">
                                <div class="b-advert-attribute__value">
                                    <!--[-->
                                    268
                                    <!--]-->
                                    <span class="h-ml-5">hp</span>
                                </div>
                                <div class="b-advert-attribute__key">Horse Power</div>
                            </div>
                            <div class="b-advert-attribute">
                                <div class="b-advert-attribute__value" itemprop="color">
                                    <!--[-->
                                    Black
                                    <!--]-->
                                    <!---->
                                </div>
                                <div class="b-advert-attribute__key">Color</div>
                            </div>
                            <div class="b-advert-attribute">
                                <div class="b-advert-attribute__value">
                                    <!--[-->
                                    Black
                                    <!--]-->
                                    <!---->
                                </div>
                                <div class="b-advert-attribute__key">Interior Color</div>
                            </div>
                            <div class="b-advert-attribute">
                                <div class="b-advert-attribute__value" itemprop="seatingCapacity">
                                    <!--[-->
                                    5
                                    <!--]-->
                                    <!---->
                                </div>
                                <div class="b-advert-attribute__key">Seats</div>
                            </div>
                            <div class="b-advert-attribute">
                                <div class="b-advert-attribute__value">
                                    <!--[-->
                                    Yes
                                    <!--]-->
                                    <!---->
                                </div>
                                <div class="b-advert-attribute__key">Exchange Possible</div>
                            </div>
                            <!--]-->
                            <!--]-->
                        </div>
                    </div>
                    <div class="b-advert-item-details-collapser__button h-pt-10 h-dflex h-flex-main-end">
                        <div class="b-advert-item-details-collapser__button-wrapper">
                            <button class="fw-button qa-fw-button fw-button--type-primary-link-like fw-button--size-small"
                                    type="button">
                                                                                    <span class="fw-button__content">
                                                                                        <!---->
                                                                                        <span
                                                                                                class="fw-button__slot-wrapper">
                                                                                            <!--[-->
                                                                                            Show more
                                                                                            <svg
                                                                                                    class="icons h-ml-8 h-rotate--90"
                                                                                                    width="5px" height="8px"
                                                                                                    color="#00B53F">
                                                                                                <!---->
                                                                                              <!---->
                                                                                                <use
                                                                                                        href="/nuxt/icons.Dd8-_jxv.svg#arrow-left"
                                                                                                        xlink:href="/nuxt/icons.Dd8-_jxv.svg#arrow-left"></use>
                                                                                            </svg>
                                                                                          <!--]-->
                                                                                        </span>
                                                                                    </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
    </div>
    <!---->
    <!---->
    <div class="b-advert__description-wrapper" itemprop="description">
        <div class="qa-advert-description b-advert__description-text">
                                                                <span class="qa-description-text">Fastest Finger Deals
Available for Swap
Giveaway Deal
Make; Toyota
Model; Avalon
Year; 2014
Auto transmission
Modern Steering
Alloy wheels
For more information and inspection, contact </span>
        </div>
    </div>
    <div class="b-advert-card-wrapper__buttons">
        <a rel="nofollow"
           class="qa-show-contact cy-show-contact js-show-contact b-show-contact b-advert-card-wrapper__buttons-item">
            <!--[-->
            <span class="b-show-contact-content">
                                                                    <!--[-->
                                                                    <div
                                                                            class="h-flex-center b-button b-button--primary b-button--border-radius-8 b-button--size-full h-height-40 h-width-100p">
                                                                        <svg class="icons h-mr-7 h-mr-5" width="20px"
                                                                             height="20px" color="#fff">
                                                                            <!---->
                                                                          <!---->
                                                                            <use href="/nuxt/icons.Dd8-_jxv.svg#call"
                                                                                 xlink:href="/nuxt/icons.Dd8-_jxv.svg#call"></use>
                                                                        </svg>
                                                                        <div class="b-button__text">Show contact</div>
                                                                    </div>
                <!--]-->
                                                                </span>
            <!--]-->
        </a>
        <!---->
    </div>
    <div class="js-apply_cv_result"></div>
    <!---->
    <div class="b-advert-card-aside">
        <div class="b-advert-social-wrapper">
            <div class="b-advert-social-inner">
                <div class="b-share-button__wrapper">
                    <div
                            data-uri="https://jiji.ng/isolo/cars/toyota-avalon-2014-black-za3FpNIp33HMtjHJWLHWMRvh.html?utm_source=facebook&amp;utm_medium=save-to-fb-button&amp;utm_campaign=facebookButton"
                            class="fb-save h-mr-3 b-fb-save-button"></div>
                    <!--[-->
                    <a class="facebook qa-social-facebook b-share-button h-dflex"
                       href="https://www.facebook.com/sharer/sharer.php?u=https%3A//jiji.ng/isolo/cars/toyota-avalon-2014-black-za3FpNIp33HMtjHJWLHWMRvh.html%3Futm_source%3Dfacebook%26utm_medium%3Dsite-share-button%26utm_campaign%3DfacebookButton"
                       target="_blank" rel="nofollow">
                        <svg class="icons" color="#fff" height="13px" width="13px">
                            <!---->
                            <!---->
                            <use href="/nuxt/icons.Dd8-_jxv.svg#facebook" xlink:href="/nuxt/icons.Dd8-_jxv.svg#facebook"></use>
                        </svg>
                        <!---->
                    </a>
                    <a class="mail qa-social-mail b-share-button h-dflex"
                       href="mailto:?subject=Toyota Avalon 2014 Black&amp;body=https%3A//jiji.ng/isolo/cars/toyota-avalon-2014-black-za3FpNIp33HMtjHJWLHWMRvh.html%3Futm_source%3Dmail%26utm_medium%3Dsite-share-button%26utm_campaign%3DmailButton"
                       target="_blank" rel="nofollow">
                        <svg class="icons" color="#fff" height="13px" width="13px">
                            <!---->
                            <!---->
                            <use href="/nuxt/icons.Dd8-_jxv.svg#mail" xlink:href="/nuxt/icons.Dd8-_jxv.svg#mail"></use>
                        </svg>
                        <!---->
                    </a>
                    <a class="twitter qa-social-twitter b-share-button h-dflex"
                       href="https://twitter.com/share?text=Toyota Avalon 2014 Black&amp;url=https%3A//jiji.ng/isolo/cars/toyota-avalon-2014-black-za3FpNIp33HMtjHJWLHWMRvh.html%3Futm_source%3Dtwitter%26utm_medium%3Dsite-share-button%26utm_campaign%3DtwitterButton"
                       target="_blank" rel="nofollow">
                        <svg class="icons" color="#fff" height="13px" width="13px">
                            <!---->
                            <!---->
                            <use href="/nuxt/icons.Dd8-_jxv.svg#twitter" xlink:href="/nuxt/icons.Dd8-_jxv.svg#twitter"></use>
                        </svg>
                        <!---->
                    </a>
                    <a class="whatsapp qa-social-whatsapp b-share-button h-dflex"
                       href="https://web.whatsapp.com/send?text=https%3A//jiji.ng/isolo/cars/toyota-avalon-2014-black-za3FpNIp33HMtjHJWLHWMRvh.html%3Futm_source%3Dwhatsapp%26utm_medium%3Dsite-share-button%26utm_campaign%3DwhatsappButton"
                       target="_blank" rel="nofollow">
                        <svg class="icons" color="#fff" height="13px" width="13px">
                            <!---->
                            <!---->
                            <use href="/nuxt/icons.Dd8-_jxv.svg#whatsapp" xlink:href="/nuxt/icons.Dd8-_jxv.svg#whatsapp"></use>
                        </svg>
                        <!---->
                    </a>
                    <!--]-->
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="b-advert-card-aside h-pt-20 h-pb-10 b-advert-card-wrapper__bottom h-dflex h-flex-cross-center">
        <div class="h-flex-1-0">
            <a
                    href="/public?auth=Login&amp;url=%2Fisolo%2Fcars%2Ftoyota-avalon-2014-black-za3FpNIp33HMtjHJWLHWMRvh.html&amp;type=make-an-offer"
                    class="fw-button qa-fw-button fw-button--type-bloated-success fw-button--size-medium fw-button--plain b-make-an-offer-button qa-send-message-button h-width-100p">
                                                                    <span class="fw-button__content">
                                                                        <!---->
                                                                        <span class="fw-button__slot-wrapper">
                                                                            <!--[-->
                                                                          <!--[-->
                                                                            <span
                                                                                    class="h-flex-center h-font-weight-500">
                                                                                <span
                                                                                        class="h-mt--1">Make an offer</span>
                                                                            </span>
                                                                          <!--]-->
                                                                          <!--]-->
                                                                        </span>
                                                                    </span>
            </a>
        </div>
        <!---->
    </div>
    <!--]-->
</div>
