<div><!---->
  <div>
    <div class="fw-popup__container h-width-100p fw-over-fixed-background b-auth-popup"
         style="width: 100%; margin: 15vh auto 50px; position: fixed; left: 0px; right: 0px; top: 0px;"><!----><!---->
      <div class="fw-popup__body">
        <div class="b-change-language">
          <div class="b-change-language__item active">
            <div>English <!----></div><!----></div>
          <div class="b-change-language__item">
            <div>Hausa <!----></div><!----></div><!----></div>
        <div>
          <div class="b-auth-popup__close">
            <svg class="icons" width="14px" height="14px" color="rgba(166, 184, 189, 0.5)"><!----><!---->
              <use href="/nuxt/icons.Dd8-_jxv.svg#cross" xlink:href="/nuxt/icons.Dd8-_jxv.svg#cross"></use>
            </svg>
          </div>
          <div class="">
            <div class="b-auth-popup__title h-mb-12">Register via email and phone</div>
            <div>
              <div class="fw-field-container qa-fw-field-container">
                <div class="fw-field"><!---->
                  <div class="fw-field__field-content">
                    <div class="fw-field__content"><label for="email">Enter email</label><input
                      class="fw-input qa-email-field" type="text" name="email" maxlength="NaN" autocomplete="off"
                      id="email"></div>
                  </div><!----><!----><!----><!----></div><!----></div>
              <div class="fw-field-container qa-fw-field-container fw-field-container--has-span">
                <div class="fw-field"><!---->
                  <div class="fw-field__field-content">
                    <div class="fw-field__content"><label for="password">Password</label><input
                      class="fw-input qa-password-field" type="password" name="password" maxlength="NaN"
                      autocomplete="off" id="password"></div>
                  </div><!----><!---->
                  <div class="bc-input__button bc-input__password-icon">
                    <div class="b-icon-holder-24">
                      <svg class="icons" color="#6C8EA0" height="13px" width="19px"><!----><!---->
                        <use href="/nuxt/icons.Dd8-_jxv.svg#password-show"
                             xlink:href="/nuxt/icons.Dd8-_jxv.svg#password-show"></use>
                      </svg>
                    </div>
                  </div><!----></div>
                <span class="fw-field__hint qa-fw-field__hint">Never disclose your Jiji password to anyone</span></div>
              <div class="fw-field-container qa-fw-field-container">
                <div class="fw-field"><!---->
                  <div class="fw-field__field-content">
                    <div class="fw-field__content"><label for="first_name">First name</label><input
                      class="fw-input qa-first-name-field" type="text" maxlength="NaN" autocomplete="off"
                      id="first_name"></div>
                  </div><!----><!----><!----><!----></div><!----></div>
              <div class="fw-field-container qa-fw-field-container">
                <div class="fw-field"><!---->
                  <div class="fw-field__field-content">
                    <div class="fw-field__content"><label for="last_name">Last name</label><input
                      class="fw-input qa-last-name-field" type="text" maxlength="NaN" autocomplete="off" id="last_name">
                    </div>
                  </div><!----><!----><!----><!----></div><!----></div>
              <div class="fw-field-container qa-fw-field-container b-auth-last-form-field">
                <div class="fw-field"><!---->
                  <div class="fw-field__field-content">
                    <div class="fw-field__content"><label for="phone">Phone (digits only)</label><input
                      class="fw-input qa-phone-field" type="text" maxlength="NaN" autocomplete="off" id="phone"></div>
                  </div><!----><!----><!----><!----></div><!----></div>
              <div class="fw-checkbox qa-fw-checkbox fw-checked h-mb-30 qa-rules-agree-field">
                <div class="fw-checkbox__container qa-fw-checkbox__container"><input type="checkbox" name="" checked="">
                  <div class="fw-icon-valid-wrapper qa-b-icon-valid-wrapper" style="width: 100%; height: 100%;">
                    <div class="fw-icon-valid-draw fw-icon-valid-checkbox fw-icon-valid"></div>
                  </div>
                </div>
                <label class="fw-checkbox__label">I agree with <a href="/rules.html"
                                                                  class="b-registration-form__base-link">rules</a></label>
              </div>
              <button
                class="fw-button qa-fw-button fw-button--type-success fw-button--size-large fw-button--disabled h-width-100p h-bold qa-registration-submit"
                type="button" disabled=""><span class="fw-button__content"><!----><span class="fw-button__slot-wrapper">Register
                <!----></span></span></button><!----></div><!---->
            <div class="h-font-14 row center-xs h-mt-16">
              <div class="b-auth-card__form-holder">Already have an account? <a href="/login.html?url=&amp;type="
                                                                                class="h-base-link">Sign in</a></div>
            </div>
            <div class="bc-social-buttons bc-social-buttons--rowed h-mt-15">
              <div class="row">
                <div class="col-xs-6"><a
                  class="fw-button qa-fw-button fw-button--type-success fw-button--size-large js-handle-link-event h-width-100p bc-google"
                  href="https://jiji.ng/google-auth.html?url=%2Fhouses-apartments-for-rent" target=""
                  data-ga_params="[&quot;Google_Login&quot;, &quot;Click_to_login_button&quot;, &quot;registration_page&quot;]"><span
                  class="fw-button__content"><!----><span class="fw-button__slot-wrapper"><svg class="icons"
                                                                                               color="#fff" width="20px"
                                                                                               height="20px"><!---->
                  <!----><use href="/nuxt/icons.Dd8-_jxv.svg#google-colored"
                              xlink:href="/nuxt/icons.Dd8-_jxv.svg#google-colored"></use></svg>  Google </span></span></a>
                </div>
                <div class="col-xs-6"><a
                  class="fw-button qa-fw-button fw-button--type-success fw-button--size-large js-handle-link-event h-width-100p bc-facebook"
                  href="https://jiji.ng/social-auth.html?url=%2Fhouses-apartments-for-rent" target=""
                  data-ga_params="[&quot;FB_Login&quot;, &quot;Click_to_login_button&quot;, &quot;registration_page&quot;]"><span
                  class="fw-button__content"><!----><span class="fw-button__slot-wrapper"><svg class="icons"
                                                                                               color="#fff" width="20px"
                                                                                               height="20px"><!---->
                  <!----><use href="/nuxt/icons.Dd8-_jxv.svg#facebook"
                              xlink:href="/nuxt/icons.Dd8-_jxv.svg#facebook"></use></svg>  Facebook </span></span></a>
                </div>
              </div><!----></div>
          </div>
        </div><!----></div><!----><!----></div>
  </div>
</div>
