
<div id="__nuxt">
  <div><img src="/tre.gif" alt="tre.gif" width="1px" height="1px" class="h-hide-image">
    <div id="js-stickers-wrapper" class="b-stickers-wrapper"></div>
    <div class="b-body-wrapper js-body-wrapper">
      <div class="h-bg-jiji-body h-min-height-100p h-width-100p h-flex">
        <div class="b-app__wrapper">
          <div class="b-content-wrapper" style="background-color:;"><!--[--><!--[-->
            <div>
              <app-header2></app-header2>
              <div class="container h-mt-10"><!---->
                <ol class="qa-bread-crumbs b-breadcrumb-wrapper h-no-text-overflow h-pb-10" vocab="http://schema.org/"
                    typeof="BreadcrumbList" style="transition: 0.3s; filter: blur(0px); opacity: 1;"><!--[-->
                  <li class="b-breadcrumb-inner" property="itemListElement" typeof="ListItem"><a href="/"
                                                                                                 class="qa-bread-crumbs-link b-breadcrumb-link"
                                                                                                 property="item"
                                                                                                 typeof="WebPage"><span
                    property="name">Jiji</span></a>
                    <meta property="position" content="1">
                  </li>
                  <li class="b-breadcrumb-inner" property="itemListElement" typeof="ListItem">
                    <div property="item" typeof="WebPage"
                         class="b-breadcrumb-link--current-url h-disable-link qa-bread-crumbs-link b-breadcrumb-link">
                      <span property="name">320613 results for <strong>Vehicles </strong> in Nigeria</span></div>
                    <meta property="position" content="2">
                  </li><!--]--></ol>
                <div show-base-adsense=""></div>
                <div class="h-dflex">
                  <div class="b-filters-wrapper"><!--[--><!--[-->
                    <app-category-section></app-category-section>
                    <app-location-section></app-location-section>
                    <app-filter></app-filter>
                    <div class="b-fixed-element-outer b-fixed-element-outer--right">
                      <div class="b-fixed-element b-fixed-element-static"
                           style="right: 0px; transform: translateY(0px); display: inline-table;"><!----></div>
                    </div><!--]--></div>
                  <div class="b-listing-wrapper h-flex b-adverts-listing__inner">
                    <div class="h-pos-rel">
                      <div><!----><h1 class="h-mb-12 h-mt-0 h-font-26"
                                      style="transition: 0.3s; filter: blur(0px); opacity: 1;"> Vehicles in Nigeria</h1>
                        <!--[--><!----><!----><!----><!---->
                        <div class="h-pv-10 h-dflex h-flex-cross-center h-flex-space-between">
                          <div class="b-adverts-listing-change-view">
                            <svg class="icons b-adverts-listing-change-view__icon" color="#00B53F" height="15px"
                                 width="15px"><!----><!---->
                              <use href="/nuxt/icons.Dd8-_jxv.svg#gallery-type"
                                   xlink:href="/nuxt/icons.Dd8-_jxv.svg#gallery-type"></use>
                            </svg>
                            <svg class="icons b-adverts-listing-change-view__icon" color="#6C8EA0" height="16px"
                                 width="16px"><!----><!---->
                              <use href="/nuxt/icons.Dd8-_jxv.svg#list-type"
                                   xlink:href="/nuxt/icons.Dd8-_jxv.svg#list-type"></use>
                            </svg>
                          </div>
                          <div class="b-adverts-nav__sort-group b-adverts-nav__sort-group--no-margin">
                            <div class="h-dflex h-flex-cross-center">Sort by:
                              <div class="b-adverts-nav__sort-group__container h-flex-center h-ml-10">
                                <div class="fw-menu js-fw-menu qa-fw-menu"><!--[-->
                                  <div class="b-adverts-nav__sort-group__element qa-sorting-submenu-opener"
                                       fw-menu-trigger="">
                                    <svg class="icons" height="15px" width="20px" color="#00B53F"><!----><!---->
                                      <use href="/nuxt/icons.Dd8-_jxv.svg#sort"
                                           xlink:href="/nuxt/icons.Dd8-_jxv.svg#sort"></use>
                                    </svg>
                                    Recommended
                                  </div>
                                  <div style="z-index:8;" class="fw-popper"><!----></div><!--]--></div>
                                <div class="fw-menu js-fw-menu qa-fw-menu"><!--[-->
                                  <div
                                    class="b-adverts-nav__sort-group__element b-adverts-nav__sort-group__element--no-delimeter qa-sorting-by-time-submenu-opener"
                                    fw-menu-trigger="">
                                    <svg class="icons" height="15px" width="15px" color="#00B53F"><!----><!---->
                                      <use href="/nuxt/icons.Dd8-_jxv.svg#clock"
                                           xlink:href="/nuxt/icons.Dd8-_jxv.svg#clock"></use>
                                    </svg>
                                    Any time
                                  </div>
                                  <div style="z-index:8;" class="fw-popper"><!----></div><!--]--></div>
                              </div>
                            </div>
                          </div>
                        </div><!--]--><!---->
                        <div class="b-advert-listing js-advert-listing qa-advert-listing"><!----><!--[-->
                          <div>
                            <div class="masonry-wall b-list-advert__gallery" style=""><!--[-->
                              <div class="masonry-column" style="width: 33.3333%;">
                                <div data-column="0">
                                  @for(product of products1;track product.id) {
                                  <app-item-element-by-category [item]=product ></app-item-element-by-category>
                                  }
                                </div>
                              </div>
                              <div class="masonry-column" style="width: 33.3333%;">
                                <div data-column="1">
                                  @for(product of products2;track product.id) {
                                  <app-item-element-by-category [item]=product ></app-item-element-by-category>
                                  }
                                </div>
                              </div>
                              <div class="masonry-column" style="width: 33.3333%;">
                                <div data-column="2">
                                  @for(product of products3;track product.id) {
                                  <app-item-element-by-category [item]=product ></app-item-element-by-category>
                                  }
                                </div>
                              </div><!--]-->
                            </div>
                          </div><!--]--></div><!----><!----><!----><!----><!----></div><!----></div>
                  </div>
                </div><!----></div><!----></div><!--]--><!--]--><!----><!----></div>
        </div>
      </div>
    </div>
    <div><!----><!---->
      <div><!----></div>
      <div class="b-app-notification h-dflex qa-app-notification"
           style="max-width: calc(-20px + 100vw); left: 10px; opacity: 1; bottom: -58px;"><!----><!----><!----></div>
      <div><!----><!----></div>
      <div class=""><!----><!----></div>
      <div><!----></div><!----></div>
    <img src="/api_web/v1/frame_left.gif" alt="frame_left.gif" width="1px" height="1px" class="h-hide-image"></div>
</div>

