<div><!---->
    <div>
        <div class="fw-popup__container h-width-100p fw-over-fixed-background b-auth-popup"
             style="width: 100%; margin: 15vh auto 50px; position: fixed; left: 0px; right: 0px; top: 0px;"><!----><!---->
            <div class="fw-popup__body">
                <div class="b-change-language">
                    <div class="b-change-language__item active">
                        <div>English <!----></div><!----></div>
                    <div class="b-change-language__item">
                        <div>Hausa <!----></div><!----></div><!----></div>
                <div>
                    <div class="b-auth-popup__close">
                        <svg class="icons" width="14px" height="14px" color="rgba(166, 184, 189, 0.5)"><!----><!---->
                            <use href="/nuxt/icons.Dd8-_jxv.svg#cross" xlink:href="/nuxt/icons.Dd8-_jxv.svg#cross"></use>
                        </svg>
                    </div>
                    <div>
                        <div class="b-auth-popup__title h-mb-12">Register</div>
                        <div class="bc-social-buttons bc-social-buttons--rowed h-mb-15">
                            <div class="row">
                                <div class="col-xs-6"><a
                                        class="fw-button qa-fw-button fw-button--type-success fw-button--size-large js-handle-link-event h-width-100p bc-google"
                                        href="https://jiji.ng/google-auth.html?url=%2F" target=""
                                        data-ga_params="[&quot;Google_Login&quot;, &quot;Click_to_login_button&quot;, &quot;registration_page&quot;]"><span
                                        class="fw-button__content"><!----><span class="fw-button__slot-wrapper"><svg class="icons"
                                                                                                                     color="#fff" width="20px"
                                                                                                                     height="20px"><!---->
                                    <!----><use href="/nuxt/icons.Dd8-_jxv.svg#google-colored"
                                                xlink:href="/nuxt/icons.Dd8-_jxv.svg#google-colored"></use></svg>  Google </span></span></a>
                                </div>
                                <div class="col-xs-6"><a
                                        class="fw-button qa-fw-button fw-button--type-success fw-button--size-large js-handle-link-event h-width-100p bc-facebook"
                                        href="https://jiji.ng/social-auth.html?url=%2F" target=""
                                        data-ga_params="[&quot;FB_Login&quot;, &quot;Click_to_login_button&quot;, &quot;registration_page&quot;]"><span
                                        class="fw-button__content"><!----><span class="fw-button__slot-wrapper"><svg class="icons"
                                                                                                                     color="#fff" width="20px"
                                                                                                                     height="20px"><!---->
                                    <!----><use href="/nuxt/icons.Dd8-_jxv.svg#facebook"
                                                xlink:href="/nuxt/icons.Dd8-_jxv.svg#facebook"></use></svg>  Facebook </span></span></a>
                                </div>
                            </div><!----></div>
                        <button class="fw-button qa-fw-button fw-button--type-success fw-button--size-large h-width-100p h-bold"
                                type="button"><span class="fw-button__content"><!----><span class="fw-button__slot-wrapper">Register via e-mail or phone</span></span>
                        </button>
                        <div class="h-font-14 row center-xs h-mt-16">
                            <div class="b-auth-card__form-holder">Already have an account? <a href="/login.html?url=&amp;type="
                                                                                              class="h-base-link">Sign in</a></div>
                        </div>
                        <div class="h-font-12 row center-xs h-mt-20">
                            <div class="b-auth-card__form-rules">By continuing you agree to the <b>Policy and Rules</b></div>
                        </div>
                    </div>
                </div><!----></div><!----><!----></div>
    </div>
</div>
