<div id="__nuxt">
  <div>
    <img src="/tre.gif" alt="tre.gif" width="1px" height="1px" class="h-hide-image">
    <div id="js-stickers-wrapper" class="b-stickers-wrapper"></div>
    <div class="b-body-wrapper js-body-wrapper">
      <div class="h-bg-jiji-body h-min-height-100p h-width-100p h-flex">
        <div class="b-app__wrapper">
          <app-header></app-header>
          <div class="b-content-wrapper">
            <!--[-->
            <!--[-->
            <div>
              <div class="b-main-page">
                <div class="b-main-page-header h-pos-rel">
                  <div class="b-main-page-header__content">
                    <div class="b-main-page-header__title h-text-center">What are you looking for?</div>
                    <div class="b-main-page-header__search h-flex-center">
                      <div class="b-main-page-header__search-region">
                        <button
                          class="fw-button qa-fw-button fw-button--type-bloated-white fw-button--size-large fw-button--has-icon b-main-page-header__region qa-choose-region-button"
                          type="button">
                                                            <span class="fw-button__content">
                                                                <svg class="icons" width="11px" height="11px"
                                                                     border-color border-width="0" color>
                                                                    <!---->
                                                                  <!---->
                                                                    <use href="/nuxt/icons.Dd8-_jxv.svg#arrow-mini"
                                                                         xlink:href="/nuxt/icons.Dd8-_jxv.svg#arrow-mini"></use>
                                                                </svg>
                                                                <span
                                                                  class="fw-button__slot-wrapper fw-button__text--has-icon">
                                                                <!--[-->
                                                                All Nigeria
                                                                  <!--]-->
                                                                </span>
                                                            </span>
                        </button>
                      </div>
                      <div class="b-main-page-header__search-input">
                        <div
                          class="fw-search fw-search--rounded fw-search--extra-button fw-search--size-medium search-with-suggestions--options-hidden search-with-suggestions">
                          <!--[-->
                          <!---->
                          <!--]-->
                          <div tabindex="-1" class="multiselect" role="combobox" aria-expanded="false"
                               aria-owns="listbox-null">
                            <!--[-->
                            <div class="multiselect__select"></div>
                            <!--]-->
                            <!--[-->
                            <!--]-->
                            <div class="multiselect__tags">
                              <!--[-->
                              <div class="multiselect__tags-wrap" style="display:none;">
                                <!--[-->
                                <!--]-->
                              </div>
                              <!--v-if-->
                              <!--]-->
                              <div class="multiselect__spinner" style="display:none;"></div>
                              <input name type="text" autocomplete="off" spellcheck="false"
                                     placeholder="I am looking for..." style="width:0;position:absolute;padding:0;"
                                     value tabindex="0" aria-label="-searchbox" class="multiselect__input"
                                     aria-controls="listbox-null">
                              <!--v-if-->
                              <span class="multiselect__placeholder">
                                                                    <!--[-->
                                                                    I am looking for...
                                <!--]-->
                                                                    </span>
                            </div>
                            <div class="multiselect__content-wrapper" tabindex="-1"
                                 style="max-height:300px;display:none;">
                              <ul class="multiselect__content" style="display:block;" role="listbox" id="listbox-null"
                                  aria-multiselectable="false">
                                <!--[-->
                                <!--]-->
                                <!--v-if-->
                                <!--[-->
                                <!--]-->
                                <li style="display:none;">
                                                                            <span class="multiselect__option">
                                                                                <!--[-->
                                                                                <span></span>
                                                                              <!--]-->
                                                                            </span>
                                </li>
                                <li>
                                                                            <span class="multiselect__option">
                                                                                <!--[-->
                                                                                <span></span>
                                                                              <!--]-->
                                                                            </span>
                                </li>
                                <!--[-->
                                <!--]-->
                              </ul>
                            </div>
                          </div>
                          <div class="fw-search__right-container">
                            <div class="fw-search__extra-button">
                              <!--[-->
                              <!--]-->
                              <!---->
                            </div>
                            <button
                              class="fw-button qa-fw-button fw-button--type-white fw-button--size-medium fw-search__search-button"
                              type="button" aria-label="Search">
                                                                    <span class="fw-button__content">
                                                                        <!---->
                                                                        <span class="fw-button__slot-wrapper">
                                                                            <!--[-->
                                                                            <div class="fw-search__icon">
                                                                                <svg class="icons" color="#6C8EA0"
                                                                                     height="24px" width="24px">
                                                                                    <!---->
                                                                                  <!---->
                                                                                    <use
                                                                                      href="/nuxt/icons.Dd8-_jxv.svg#search-tiny"
                                                                                      xlink:href="/nuxt/icons.Dd8-_jxv.svg#search-tiny"></use>
                                                                                </svg>
                                                                            </div>
                                                                          <!--]-->
                                                                        </span>
                                                                    </span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <span></span>
                </div>
                <div class="container">
                  <div class="b-main-page__inner">
                    <div class="b-main-page-categories-wrapper">
                      <div class="b-fixed-element-outer b-main-page__categories-block-sidebar">
                        <div class="b-fixed-element b-fixed-element-static"
                             style="left: 0px; transform: translateY(0px); display: inline-table; bottom: auto; top: 0px;">
                          <div>
                            <div
                              class="b-categories-listing-wrapper--no-margin qa-category-tree b-categories-listing-wrapper">
                              <div class="b-categories-listing-outer">
                                <div class="b-categories-listing-inner">
                                  <div class="b-categories-listing__item b-categories-listing__parents">
                                    <div class="b-categories-listing__item__inner h-hide-scrollbar">
                                      <div class="b-scrolling-helper"><!---->
                                        <div class="b-scrolling-helper__content">
                                          <a *ngFor="let item of data.categories" href="/vehicles"
                                             [ngClass]="{ 'b-categories-item--active': null}"
                                             class=" qa-category-parent-item b-categories-item h-flex-center"
                                             data-index="0">
                                            <div class="b-categories-item__image h-flex-center">
                                              <div class="b-static-image" style="height: 32px; width: 32px;"><img class="icon"
                                                                                                                  height="32px"
                                                                                                                  width="32px"
                                                                                                                  src="{{item.image_v2}}"
                                                                                                                  alt="Vehicles"
                                                                                                                  style=""></div>
                                            </div>
                                            <div class="b-categories-item__text h-flex-1-0" (mouseenter)="onHoverMenu(item.name)"
                                                 (mouseleave)="onLeaveMenu(item.name)"><span
                                              class="b-categories-item__text-name qa-category-parent-name">{{item.name}}</span><span
                                              class="b-categories-item__text-count">323,154 ads</span></div>
                                            <div class="b-categories-item__arrow h-flex-center">
                                              <i class="icons fas fa-chevron-right" style="color: #99B2BF" height="24px" width="24px"></i>
                                            </div>
                                          </a>
                                        </div>
                                        <!--                            <div class="b-scrolling-helper__edge b-scrolling-helper__edge&#45;&#45;bottom">-->
                                        <!--                              <svg class="icons" color="#808080" height="20px" width="20px">&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
                                        <!--                                <use href="/nuxt/icons.Dd8-_jxv.svg#bottom"-->
                                        <!--                                     xlink:href="/nuxt/icons.Dd8-_jxv.svg#bottom"></use>-->
                                        <!--                              </svg>-->
                                        <!--                            </div>-->
                                      </div>
                                    </div>
                                  </div>
                                  <div (mouseleave)="onLeaveSubMenu()"
                                    class="qa-categories-sub-tree b-categories-listing__item b-categories-listing__childes"
                                       *ngIf="showSubMenuCategories">
                                    <div class="b-categories-listing__item__inner">
                                      <div class="b-scrolling-helper"><!---->
                                        <div class="b-scrolling-helper__content">
                                          <a *ngFor="let item of subMenu" href="/new-builds"
                                             class="qa-category-sub-item b-categories-item h-flex-center"
                                             data-index="0">
                                            <div class="b-categories-item__image h-flex-center">
                                              <div class="b-static-image" style="height: 32px; width: 32px;"><img class="icon"
                                                                                                                  height="32px"
                                                                                                                  width="32px"
                                                                                                                  src="{{item.image_v2}}"
                                                                                                                  alt="New Builds"
                                                                                                                  style=""></div>
                                            </div>
                                            <div class="b-categories-item__text h-flex-1-0"><span
                                              class="b-categories-item__text-name qa-category-parent-name">{{item.name}}</span><span
                                              class="b-categories-item__text-count">5,523 ads</span></div>
                                            <div class="b-categories-item__arrow h-flex-center"><!----></div>
                                          </a>
                                        </div><!----></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <ul class="b-categories-blocks-list b-main-page__categories-block-list">
                        <li class="b-categories-block-item b-categories-block-item--post-ad qa-categories-post-ad"><a
                          href="/" class="b-categories-block-item__inner"><span
                          class="b-categories-block-item__inner-icon b-categories-block-item__inner-icon--yellow"><svg
                          class="icons" height="32px" width="32px" color="#FFFFFF"><!----><!----><use
                          href="/nuxt/icons.Dd8-_jxv.svg#cat-color-post-ad"
                          xlink:href="/nuxt/icons.Dd8-_jxv.svg#cat-color-post-ad"></use></svg></span>
                          <p class="b-categories-block-item__name">Post ad</p></a></li>
                        <li
                          class="b-categories-block-item b-categories-block-item--image b-categories-block-item--trending qa-categories-trending">
                          <a href="/" class="b-categories-block-item__inner"><span
                            class="b-categories-block-item__inner-icon">🔥</span>
                            <p class="b-categories-block-item__name">Trending</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/vehicles-x3.png"
                                                                                                       alt="Vehicles"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Vehicles</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/property-x3.png"
                                                                                                       alt="Property"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Property</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/phones-x3.png"
                                                                                                       alt="Mobile Phones &amp; Tablets"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Mobile Phones &amp; Tablets</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/electronics-x3.png"
                                                                                                       alt="Electronics"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Electronics</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/home-x3.png"
                                                                                                       alt="Home, Furniture &amp; Appliances"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Home, Furniture &amp; Appliances</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/health-x3.png"
                                                                                                       alt="Health &amp; Beauty"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Health &amp; Beauty</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/fashion-x3.png"
                                                                                                       alt="Fashion"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Fashion</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/hobbies-x3.png"
                                                                                                       alt="Sports, Arts &amp; Outdoors"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Sports, Arts &amp; Outdoors</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/jobseekers-x3.png"
                                                                                                       alt="Seeking Work CVs"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Seeking Work CVs</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/services-x3.png"
                                                                                                       alt="Services"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Services</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/jobs-x3.png"
                                                                                                       alt="Jobs"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Jobs</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/babies-x3.png"
                                                                                                       alt="Babies &amp; Kids"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Babies &amp; Kids</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/animals-x3.png"
                                                                                                       alt="Animals &amp; Pets"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Animals &amp; Pets</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/agriculture-x3.png"
                                                                                                       alt="Agriculture &amp; Food"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Agriculture &amp; Food</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/equipment-x3.png"
                                                                                                       alt="Commercial Equipment &amp; Tools"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Commercial Equipment &amp; Tools</p></a></li>
                        <li class="b-categories-block-item b-categories-block-item--image"><a href="[object Object]"
                                                                                              class="b-categories-block-item__inner">
                          <div class="b-static-image h-pos-ab" style="height: 60px; width: 60px;"><img class="icon"
                                                                                                       height="60px"
                                                                                                       width="60px"
                                                                                                       src="https://assets.jijistatic.net/art/attributes/categories/repair-x3.png"
                                                                                                       alt="Repair &amp; Construction"
                                                                                                       style=""></div>
                          <p class="b-categories-block-item__name">Repair &amp; Construction</p></a>
                        </li><!---->
                      </ul>
                    </div>
                    <main class="b-main-page__main-section-wrapper js-main-page-trending">
                      <div class="b-listing-cards h-mb-15">
                        <div class="b-listing-cards__title h-dflex h-flex-cross-center qa-listing-cards-title">
                          <h3 class="b-listing-cards__title-text">Trending ads</h3>
                          <div
                            class="b-listing-cards__title-switchers h-dflex h-flex-cross-center h-flex-space-between">
                            <div class="b-adverts-listing-change-view">
                              <svg class="icons b-adverts-listing-change-view__icon" color="#00B53F" height="15px"
                                   width="15px">
                                <!---->
                                <!---->
                                <use href="/nuxt/icons.Dd8-_jxv.svg#gallery-type"
                                     xlink:href="/nuxt/icons.Dd8-_jxv.svg#gallery-type"></use>
                              </svg>
                              <svg class="icons b-adverts-listing-change-view__icon" color="#6C8EA0" height="16px"
                                   width="16px">
                                <!---->
                                <!---->
                                <use href="/nuxt/icons.Dd8-_jxv.svg#list-type"
                                     xlink:href="/nuxt/icons.Dd8-_jxv.svg#list-type"></use>
                              </svg>
                            </div>
                          </div>
                        </div>
                        <div class="b-listing-cards__list">
                          <div class="b-advert-listing js-advert-listing qa-advert-listing">
                            <!---->
                            <!--[-->
                            <div>
                              <div class="masonry-wall b-list-advert__gallery" style="">
                                <!--[-->
                                <div class="masonry-column" style="width:25%;">
                                  <div data-column="0">
                                    @for(product of products1;track product.id) {
                                    <app-item-element [item]=product ></app-item-element>
                                    }
                                  </div>
                                </div>
                                <div class="masonry-column" style="width:25%;">
                                  <div data-column="0">
                                    @for(product of products2;track product.id) {
                                    <app-item-element [item]=product ></app-item-element>
                                    }
                                  </div>
                                </div>
                                <div class="masonry-column" style="width:25%;">
                                  <div data-column="0">
                                    @for(product of products3;track product.id) {
                                    <app-item-element [item]=product ></app-item-element>
                                    }
                                  </div>
                                </div>
                                <div class="masonry-column" style="width:25%;">
                                  <div data-column="0">
                                    @for(product of products4;track product.id) {
                                    <app-item-element [item]=product ></app-item-element>
                                    }
                                  </div>
                                </div>

                                <!--]-->
                              </div>
                            </div>
                            <!--]-->
                          </div>
                        </div>
                      </div>
                    </main>
                  </div>
                  <!---->
                </div>
              </div>
            </div>
            <!--]-->
            <!--]-->
            <!---->
            <!---->
          </div>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
    <div>
      <!---->
      <span></span>
      <div>
        <!---->
      </div>
      <!---->
      <span></span>
    </div>
    <img src="/api_web/v1/frame_left.gif" alt="frame_left.gif" width="1px" height="1px" class="h-hide-image">
  </div>
</div>



