<div class="b-categories-section">
    <div class="b-categories-section__header">Categories</div>
    <div class="b-categories-section-list">
        <div class="b-categories-section-list__parent-category">
            <div
                    class="b-categories-section-list__name--active b-categories-section-list__name h-pointer">
                Vehicles
            </div>
        </div>
        <ul class="b-categories-section-list__list"><!--[-->
            <li class="b-categories-section-item"><a href="/cars" class="b-categories-section-item__link">
                <div class="b-categories-section-item__name">Cars</div>
                <div class="b-categories-section-item__adverts-count"> | 116920</div>
            </a></li>
            <li class="b-categories-section-item"><a href="/buses"
                                                     class="b-categories-section-item__link">
                <div class="b-categories-section-item__name">Buses &amp; Microbuses</div>
                <div class="b-categories-section-item__adverts-count"> | 6242</div>
            </a></li>
            <li class="b-categories-section-item"><a href="/heavy-equipments-machinery"
                                                     class="b-categories-section-item__link">
                <div class="b-categories-section-item__name">Heavy Equipment</div>
                <div class="b-categories-section-item__adverts-count"> | 2314</div>
            </a></li>
            <li class="b-categories-section-item"><a href="/motorcycles-and-scooters"
                                                     class="b-categories-section-item__link">
                <div class="b-categories-section-item__name">Motorcycles &amp; Scooters</div>
                <div class="b-categories-section-item__adverts-count"> | 2707</div>
            </a></li><!--]--></ul>
        <div class="b-categories-section-list__show_all-wrapper h-pointer"><!--[-->Show all 8
            <!--]--></div>
    </div>
</div>
